################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/packages
/src/.vs
/src/CodeDiff.Core/bin/Debug
/src/CodeDiff.Core/obj/Debug
/src/CodeDiff.Core.UnitTests/bin/Debug
/src/CodeDiff.Core.UnitTests/obj/Debug
/src/CodeDiff.Web.AspNet461/.idea
/src/CodeDiff.Web.AspNet461/bin
/src/CodeDiff.Web.AspNet461/obj/Debug
/src/CodeDiff.IsolatorCache.user
/src/wrap/CodeDiff.Core
/src/artifacts/obj/CodeDiff.Web.AspNetCore/Debug
/src/artifacts/bin/CodeDiff.Web.AspNetCore
/src/.idea
/src/CodeDiff.Web.AspNetCore/node_modules
/src/CodeDiff.Web.AspNetCore/bin/Debug/net461
/src/CodeDiff.Web.AspNetCore/obj/Debug/net461
/src/CodeDiff.Web.AspNetCore/wwwroot/.idea
/src/CodeDiff.Web.AspNetCore/CodeDiff.Web.AspNetCore.xproj.user
